In [61]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
from scipy import stats
import csv

In [62]:
df1 = pd.read_csv('player_data.csv')
df1.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

In [63]:
df2 = pd.read_csv('injuries.csv')
df2.head()

,Date,Team,Acquired,Relinquised,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Acchilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Pendergraph / Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)

In [64]:
df3 = pd.read_csv('nba_hurt.csv')
df1.dtypes

name           object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

In [65]:
df3.head()

,Date,Team,name,Notes,year_start,year_end,position,height,weight,birth_date,college
0,2010-10-03,Bulls,Carlos Boozer,fractured bone in right pinky finger (out inde...,2003.0,2015.0,F-C,6-9,258.0,"November 20, 1981",Duke University
1,2010-10-08,Blazers,Jeff Ayres,torn ACL in right knee (out indefinitely),2010.0,2016.0,F,6-9,240.0,"April 29, 1987",Arizona State University
2,2010-10-08,Nets,Troy Murphy,strained lower back (out indefinitely),2002.0,2013.0,F-C,6-11,245.0,"May 2, 1980",University of Notre Dame
3,2010-10-12,Bucks,Darington Hobson,surgery on left hip (out for season),2012.0,2012.0,G,6-7,210.0,"September 29, 1987",University of New Mexico
4,2010-10-12,Kings,Samuel Dalembert,strained left groin (out indefinitely),2002.0,2015.0,C,6-11,255.0,"May 10, 1981",Seton Hall University

In [66]:
df1 = df1.loc[df1['year_start'] >= 2010]

In [67]:
df1.head()

,name,year_start,year_end,position,height,weight,birth_date,college
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
21,Steven Adams,2014,2018,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
23,Bam Adebayo,2018,2018,C-F,6-10,243.0,"July 18, 1997",University of Kentucky

In [68]:
age = df1["birth_date"].str.split(" ", n = 2, expand = True)

In [69]:
age.head()

          0    1     2
9    August   1,  1993
14  October   6,  1990
19     July   8,  1994
21     July  20,  1993
23     July  18,  1997

In [70]:
#age = age.loc[age[2] - 2019]

In [71]:
age.dtypes

0    object
1    object
2    object
dtype: object

In [72]:
age[2] = pd.to_numeric(age[2])

In [73]:
age[2] = pd.to_numeric(age[2])
#age1 = age[2] - 2019
age[2] = 2019 - age[2]

age2

##

In [74]:
df1['age'] = age[2]
df1

,name,year_start,year_end,position,height,weight,birth_date,college,age
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN,26
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University,29
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles",25
21,Steven Adams,2014,2018,C,7-0,255.0,"July 20, 1993",University of Pittsburgh,26
23,Bam Adebayo,2018,2018,C-F,6-10,243.0,"July 18, 1997",University of Kentucky,22
25,Jeff Adrien,2011,2015,F,6-7,245.0,"February 10, 1986",University of Connecticut,33
34,Josh Akognon,2013,2013,G,5-11,185.0,"February 10, 1986","California State University, Fullerton",33
35,Solomon Alabi,2011,2012,C,7-1,251.0,"March 21, 1988",Florida State University,31
38,Furkan Aldemir,2015,2015,F-C,6-10,240.0,"August 9, 1991",NaN,28
39,Cole Aldrich,2011,2018,C,6-11,250.0,"October 31, 1988",University of Kansas,31
42,Cliff Alexander,2016,2016,F,6-8,245.0,"November 16, 1995",University of Kansas,24
51,Jarrett Allen,2018,2018,F-C,6-10,234.0,"April 21, 1998",University of Texas at Austin,21
53,Kadeem Allen,2018,2018,G,6-3,192.0,"January 15, 1993",University of Arizona,26
54,Lavoy Allen,2012,2017,F-C,6-9,260.0,"February 4, 1989",Temple University,30
70,Al-Farouq Aminu,2011,2018,F,6-9,220.0,"September 21, 1990",Wake Forest University,29
74,David Andersen,2010,2011,C,6-11,245.0,"June 23, 1980",NaN,39
77,Antonio Anderson,2010,2010,G,6-6,215.0,"June 5, 1985",University of Memphis,34
86,James Anderson,2011,2016,G-F,6-6,213.0,"March 25, 1989",Oklahoma State University,30
88,Justin Anderson,2016,2018,G,6-6,228.0,"November 19, 1993",University of Virginia,26
91,Kyle Anderson,2015,2018,F-G,6-9,230.0,"September 20, 1993","University of California, Los Angeles",26
102,Ike Anigbogu,2018,2018,F-C,6-10,252.0,"October 22, 1998","University of California, Los Angeles",21
105,Giannis Antetokounmpo,2014,2018,F-G,6-11,222.0,"December 6, 1994",NaN,25
106,Thanasis Antetokounmpo,2016,2016,F,6-7,205.0,"July 17, 1992",NaN,27
110,Pero Antic,2014,2015,C-F,6-11,260.0,"July 29, 1982",NaN,37
111,OG Anunoby,2018,2018,F,6-8,232.0,"July 17, 1997",Indiana University,22
112,Keith Appling,2016,2016,G,6-1,185.0,"February 13, 1992",Michigan State University,27
117,Ryan Arcidiacono,2018,2018,G,6-3,188.0,"March 26, 1994",Villanova University,25
136,Jamel Artis,2018,2018,G-F,6-7,213.0,"January 12, 1993",University of Pittsburgh,26
137,Omer Asik,2011,2018,C,7-0,255.0,"July 4, 1986",NaN,33
155,Gustavo Ayon,2012,2014,C,6-10,250.0,"April 1, 1985",NaN,34
...,...,...,...,...,...,...,...,...,...
4359,C.J. Williams,2018,2018,G,6-5,225.0,"February 6, 1990",North Carolina State University,29
4366,Derrick Williams,2012,2017,F,6-8,240.0,"May 25, 1991",University of Arizona,28
4369,Elliot Williams,2012,2016,G,6-5,190.0,"June 20, 1989",University of Memphis,30
4386,Jordan Williams,2012,2012,F,6-10,260.0,"October 11, 1990",University of Maryland,29
4395,Matt Williams,2018,2018,G,6-5,210.0,"October 14, 1993",University of Central Florida,26
4405,Reggie Williams,2010,2017,F,6-6,205.0,"September 14, 1986",Virginia Military Institute,33
4417,Terrence Williams,2010,2013,F,6-6,220.0,"June 28, 1987",University of Louisville,32
4419,Troy Williams,2017,2018,F,6-7,218.0,"December 30, 1994",Indiana University,25
4433,D.J. Wilson,2018,2018,F,6-10,234.0,"February 19, 1996",University of Michigan,23
4436,Jamil Wilson,2018,2018,F,6-7,230.0,"November 21, 1990",Marquette University,29
4446,Kyle Wiltjer,2017,2017,F,6-10,240.0,"October 20, 1992",Gonzaga University,27
4455,Justise Winslow,2016,2018,F,6-7,225.0,"March 26, 1996",Duke University,23
4462,Jeff Withey,2014,2018,C,7-0,231.0,"March 7, 1990",University of Kansas,29
4470,Nate Wolters,2014,2018,G,6-4,190.0,"May 15, 1991",South Dakota State University,28
4473,Christian Wood,2016,2017,F,6-11,220.0,"September 27, 1995","University of Nevada, Las Vegas",24
4495,Chris Wright,2012,2014,F,6-8,226.0,"September 30, 1988",University of Dayton,31
4496,Chris Wright,2013,2013,G,6-1,210.0,"November 4, 1989",Georgetown University,30
4497,Delon Wright,2016,2018,G,6-5,183.0,"April 26, 1992",University of Utah,27
4509,Tony Wroten,2013,2016,G,6-6,205.0,"April 13, 1993",University of Washington,26
4512,Guerschon Yabusele,2018,2018,F,6-7,260.0,"December 17, 1995",NaN,24
4520,James Young,2015,2017,G-F,6-6,215.0,"August 16, 1995",University of Kentucky,24
4521,Joe Young,2016,2018,G,6-2,180.0,"June 27, 1992",University of Oregon,27
4526,Sam Young,2010,2013,F,6-6,220.0,"June 1, 1985",University of Pittsburgh,34
4532,Cody Zeller,2014,2018,C-F,7-0,240.0,"October 5, 1992",Indiana University,27
4536,Luke Zeller,2013,2013,C,6-11,245.0,"April 7, 1987",University of Notre Dame,32
4537,Tyler Zeller,2013,2018,F-C,7-0,253.0,"January 17, 1990",University of North Carolina,29
4543,Stephen Zimmerman,2017,2017,C,7-0,240.0,"September 9, 1996","University of Nevada, Las Vegas",23
4544,Paul Zipser,2017,2018,G-F,6-8,215.0,"February 18, 1994",NaN,25
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN,22
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN,22

In [75]:
#new_labels = list(['Age', 'Year_Start'] )

In [76]:
df1 = df1[['name', 'year_start', 'year_end','age']]
df1.head()

            name  year_start  year_end  age
9   Alex Abrines        2017      2018   26
14    Quincy Acy        2013      2018   29
19  Jordan Adams        2015      2016   25
21  Steven Adams        2014      2018   26
23   Bam Adebayo        2018      2018   22

In [77]:

merge_table = pd.merge(df1, df3, on="name", how="outer")
merge_table

,name,year_start_x,year_end_x,age,Date,Team,Notes,year_start_y,year_end_y,position,height,weight,birth_date,college
0,Alex Abrines,2017.0,2018.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Quincy Acy,2013.0,2018.0,29.0,2013-11-20,Raptors,sprained right ankle (DNP),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
2,Quincy Acy,2013.0,2018.0,29.0,2013-12-08,Raptors,DNP,2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
3,Quincy Acy,2013.0,2018.0,29.0,2013-12-11,Kings,DNP,2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
4,Quincy Acy,2013.0,2018.0,29.0,2014-03-21,Kings,sprained right ankle (DNP),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
5,Quincy Acy,2013.0,2018.0,29.0,2014-03-23,Kings,sprained right ankle (DNP),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
6,Quincy Acy,2013.0,2018.0,29.0,2015-03-09,Knicks,sore left knee (DTD),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
7,Quincy Acy,2013.0,2018.0,29.0,2016-11-15,Mavericks,eye contusion (DTD),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
8,Quincy Acy,2013.0,2018.0,29.0,2017-02-06,Nets,sprained left ankle (DTD),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
9,Quincy Acy,2013.0,2018.0,29.0,2017-03-29,Nets,ankle injury (DTD),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
10,Quincy Acy,2013.0,2018.0,29.0,2017-04-09,Nets,sore left ankle (out for season),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
11,Quincy Acy,2013.0,2018.0,29.0,2017-10-28,Nets,strained left groin (DTD),2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
12,Jordan Adams,2015.0,2016.0,25.0,2015-02-04,Grizzlies,sore left ankle (DTD),2015.0,2016.0,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
13,Jordan Adams,2015.0,2016.0,25.0,2015-12-26,Grizzlies,sore right knee (out for season),2015.0,2016.0,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
14,Jordan Adams,2015.0,2016.0,25.0,2016-04-08,Grizzlies,surgery on right knee (out indefinitely),2015.0,2016.0,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"
15,Steven Adams,2014.0,2018.0,26.0,2015-01-25,Thunder,migraine headache (DTD),2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
16,Steven Adams,2014.0,2018.0,26.0,2015-02-09,Thunder,surgery on right finger to repair fracture (ou...,2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
17,Steven Adams,2014.0,2018.0,26.0,2016-01-22,Thunder,sprained right elbow (DTD),2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
18,Steven Adams,2014.0,2018.0,26.0,2017-01-16,Thunder,concussion (DTD),2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh
19,Bam Adebayo,2018.0,2018.0,22.0,2018-03-27,Heat,sprained right ankle (DTD),2018.0,2018.0,C-F,6-10,243.0,"July 18, 1997",University of Kentucky
20,Jeff Adrien,2011.0,2015.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Josh Akognon,2013.0,2013.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Solomon Alabi,2011.0,2012.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Furkan Aldemir,2015.0,2015.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Cole Aldrich,2011.0,2018.0,31.0,2012-11-21,Rockets,sprained right ankle (DTD),2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
25,Cole Aldrich,2011.0,2018.0,31.0,2012-11-23,Rockets,sprained right ankle (DNP),2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
26,Cole Aldrich,2011.0,2018.0,31.0,2013-01-02,Rockets,flu (DNP),2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
27,Cole Aldrich,2011.0,2018.0,31.0,2015-01-29,Knicks,bruised left shin (DTD),2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
28,Cole Aldrich,2011.0,2018.0,31.0,2017-11-11,Timberwolves,sprained left ankle (DTD),2011.0,2018.0,C,6-11,250.0,"October 31, 1988",University of Kansas
29,Cliff Alexander,2016.0,2016.0,24.0,2015-10-26,Blazers,knee injury (DTD),2016.0,2016.0,F,6-8,245.0,"November 16, 1995",University of Kansas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6508,Kevin Durant,NaN,NaN,NaN,2016-01-04,Thunder,toe injury (DTD),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6509,Kevin Durant,NaN,NaN,NaN,2016-03-29,Thunder,rest (DTD),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6510,Kevin Durant,NaN,NaN,NaN,2016-04-06,Thunder,rest (DTD),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6511,Kevin Durant,NaN,NaN,NaN,2017-03-01,Warriors,sprained MCL in left knee (out indefinitely),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6512,Kevin Durant,NaN,NaN,NaN,2017-04-19,Warriors,strained left calf (DTD),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6513,Kevin Durant,NaN,NaN,NaN,2017-11-19,Warriors,sprained left ankle (DTD),2008.0,2018.0,F-G,6-9,240.0,"September 29, 1988",University of Texas at Austin
6514,Alan Anderson,NaN,NaN,NaN,2014-04-11,Nets,sore abdominal muscle (DNP),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6515,Alan Anderson,NaN,NaN,NaN,2014-04-13,Nets,sore abdominal muscle (DNP),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6516,Alan Anderson,NaN,NaN,NaN,2014-04-15,Nets,sore abdominal muscle (DNP),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6517,Alan Anderson,NaN,NaN,NaN,2014-04-16,Nets,sore abdominal muscle (DNP),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6518,Alan Anderson,NaN,NaN,NaN,2015-03-11,Nets,bruised lower back (DTD),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6519,Alan Anderson,NaN,NaN,NaN,2015-04-04,Nets,sprained left ankle (DTD),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6520,Alan Anderson,NaN,NaN,NaN,2015-10-13,Wizards,surgery on left ankle to remove bone fragment ...,2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6521,Alan Anderson,NaN,NaN,NaN,2016-03-27,Wizards,sore groin (DTD) (Y),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6522,Alan Anderson,NaN,NaN,NaN,2016-10-15,Clippers,ankle injury (DTD),2006.0,2017.0,G-F,6-6,220.0,"October 16, 1982",Michigan State University
6523,Shavlik Randolph,NaN,NaN,NaN,2015-01-26,Celtics,hamstring injury (DTD),2006.0,2015.0,F,6-10,240.0,"November 24, 1983",Duke University
6524,Henry Walker,NaN,NaN,NaN,2015-04-09,Heat,elbow injury (DTD),2009.0,2015.0,F,6-6,220.0,"October 9, 1987",Kansas State University
6525,Steve Kerr,NaN,NaN,NaN,2015-10-01,Warriors,took leave of absence as head coach recovering...,1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6526,Steve Kerr,NaN,NaN,NaN,2017-04-22,Warriors,head coach illness (DTD),1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6527,Steve Kerr,NaN,NaN,NaN,2017-04-24,Warriors,head coach illness (DTD),1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6528,Steve Kerr,NaN,NaN,NaN,2017-05-02,Warriors,head coach illness (DTD),1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6529,Steve Kerr,NaN,NaN,NaN,2017-05-04,Warriors,head coach illness (DTD),1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6530,Steve Kerr,NaN,NaN,NaN,2017-05-06,Warriors,head coach illness (DTD),1989.0,2003.0,G,6-3,175.0,"September 27, 1965",University of Arizona
6531,DeAndre Jordan,NaN,NaN,NaN,2016-01-12,Clippers,pneumonia (DTD),2009.0,2018.0,C,6-11,265.0,"July 21, 1988",Texas A&M University
6532,DeAndre Jordan,NaN,NaN,NaN,2016-03-31,Clippers,rest (DTD),2009.0,2018.0,C,6-11,265.0,"July 21, 1988",Texas A&M University
6533,DeAndre Jordan,NaN,NaN,NaN,2016-04-08,Clippers,rest (DTD),2009.0,2018.0,C,6-11,265.0,"July 21, 1988",Texas A&M University
6534,DeAndre Jordan,NaN,NaN,NaN,2016-04-13,Clippers,rest (DTD),2009.0,2018.0,C,6-11,265.0,"July 21, 1988",Texas A&M University
6535,DeAndre Jordan,NaN,NaN,NaN,2018-01-13,Clippers,sprained left ankle (DTD),2009.0,2018.0,C,6-11,265.0,"July 21, 1988",Texas A&M University
6536,Nazr Mohammed,NaN,NaN,NaN,2016-04-06,Thunder,rest (DTD),1999.0,2016.0,C,6-10,221.0,"September 5, 1977",University of Kentucky
6537,Tyronn Lue,NaN,NaN,NaN,2018-03-19,Cavaliers,took leave of absence as head coach to address...,1999.0,2009.0,G,6-0,175.0,"May 3, 1977",University of Nebraska

In [78]:
merge_table = merge_table[['name', 'year_start_x', 'year_end_x','age', 'Notes']]
df1.head()

            name  year_start  year_end  age
9   Alex Abrines        2017      2018   26
14    Quincy Acy        2013      2018   29
19  Jordan Adams        2015      2016   25
21  Steven Adams        2014      2018   26
23   Bam Adebayo        2018      2018   22

In [79]:
#merge_table.count()
merge_table.drop(['year_start_x','year_end_x'], axis=1, inplace=True)
merge_table.dropna(inplace = True)
#merge_table.count()
#merge_table.groupby('name').count()
merge_table.rename(columns={'Notes': 'Injury'}, inplace=True)
merge_table

C:\Users\Mark\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                 name   age                                             Injury
1          Quincy Acy  29.0                         sprained right ankle (DNP)
2          Quincy Acy  29.0                                                DNP
3          Quincy Acy  29.0                                                DNP
4          Quincy Acy  29.0                         sprained right ankle (DNP)
5          Quincy Acy  29.0                         sprained right ankle (DNP)
6          Quincy Acy  29.0                               sore left knee (DTD)
7          Quincy Acy  29.0                                eye contusion (DTD)
8          Quincy Acy  29.0                          sprained left ankle (DTD)
9          Quincy Acy  29.0                                 ankle injury (DTD)
10         Quincy Acy  29.0                   sore left ankle (out for season)
11         Quincy Acy  29.0                          strained left groin (DTD)
12       Jordan Adams  25.0                              sore left ankle (DTD)
13       Jordan Adams  25.0                   sore right knee (out for season)
14       Jordan Adams  25.0           surgery on right knee (out indefinitely)
15       Steven Adams  26.0                            migraine headache (DTD)
16       Steven Adams  26.0  surgery on right finger to repair fracture (ou...
17       Steven Adams  26.0                         sprained right elbow (DTD)
18       Steven Adams  26.0                                   concussion (DTD)
19        Bam Adebayo  22.0                         sprained right ankle (DTD)
24       Cole Aldrich  31.0                         sprained right ankle (DTD)
25       Cole Aldrich  31.0                         sprained right ankle (DNP)
26       Cole Aldrich  31.0                                          flu (DNP)
27       Cole Aldrich  31.0                            bruised left shin (DTD)
28       Cole Aldrich  31.0                          sprained left ankle (DTD)
29    Cliff Alexander  24.0                                  knee injury (DTD)
30      Jarrett Allen  21.0                           strained left foot (DTD)
31      Jarrett Allen  21.0                               sore left foot (DTD)
33        Lavoy Allen  30.0                          strained right calf (DNP)
34        Lavoy Allen  30.0                          strained right calf (DNP)
35        Lavoy Allen  30.0                          strained right calf (DNP)
...               ...   ...                                                ...
2955      James Young  24.0                                      illness (DTD)
2956      James Young  24.0                                  undisclosed (DTD)
2957        Joe Young  27.0                                  knee injury (DTD)
2958        Joe Young  27.0                                      illness (DTD)
2959        Joe Young  27.0                                      illness (DTD)
2960        Sam Young  34.0                                  back spasms (DNP)
2961        Sam Young  34.0                         sprained right ankle (DNP)
2962        Sam Young  34.0                         sprained right ankle (DNP)
2963        Sam Young  34.0                                          flu (DNP)
2964        Sam Young  34.0                                          flu (DNP)
2965        Sam Young  34.0                          sprained left ankle (DNP)
2966        Sam Young  34.0                          sprained left ankle (DNP)
2967        Sam Young  34.0                            sore throat / flu (DNP)
2968        Sam Young  34.0                            sore throat / flu (DNP)
2969      Cody Zeller  27.0                    appendectomy (out indefinitely)
2970      Cody Zeller  27.0                      strained right shoulder (DTD)
2971      Cody Zeller  27.0  surgery on right shoulder to repair torn tendo...
2972      Cody Zeller  27.0                          sprained left ankle (DTD)
2973      Cody Zeller  27.0                      strained right shoulder (DTD)
2974      Cody Zeller  27.0       bone bruise in right knee (out indefinitely)
2975      Cody Zeller  27.0                                sore shoulder (DTD)
2976      Cody Zeller  27.0                                      illness (DTD)
2977      Cody Zeller  27.0      torn meniscus in left knee (out indefinitely)
2979     Tyler Zeller  29.0                                      illness (DNP)
2980     Tyler Zeller  29.0                         sprained right ankle (DNP)
2981     Tyler Zeller  29.0                         sprained right ankle (DNP)
2982     Tyler Zeller  29.0                                sinus ailment (DTD)
2983     Tyler Zeller  29.0                              sinus infection (DTD)
2984     Tyler Zeller  29.0                                sore left hip (DTD)
2985     Tyler Zeller  29.0                                    sore back (DTD)

[2667 rows x 3 columns]

In [80]:
merge_table.groupby('name')['Injury'].count()

name
A.J. Price             17
Aaron Gordon            9
Adreian Payne           1
Al-Farouq Aminu         3
Alan Williams           3
Alec Burks              9
Alex Len               23
Allen Crabbe            5
Alonzo Gee              5
Andre Drummond          4
Andre Roberson          6
Andrew Goudelock        1
Andrew Harrison         4
Andrew Nicholson        2
Andrew Wiggins          1
Andy Rautins            1
Anthony Bennett        20
Anthony Brown           1
Anthony Davis          50
Antonio Blakeney        1
Antonius Cleveland      1
Archie Goodwin          1
Armon Johnson           1
Arnett Moultrie         1
Aron Baynes            11
Austin Daye             4
Austin Rivers          14
Avery Bradley          23
Bam Adebayo             1
Ben McLemore            5
                       ..
Treveon Graham          3
Trevor Booker          42
Trey Burke              6
Tristan Thompson        3
Troy Daniels            4
Troy Williams           3
Ty Lawson              46
Tyler Cavanaugh         1
Tyler Ennis             3
Tyler Hansbrough        1
Tyler Honeycutt         1
Tyler Johnson          11
Tyler Lydon             1
Tyler Ulis              1
Tyler Zeller            7
Tyreke Evans           46
Tyshawn Taylor          3
Tyus Jones              1
Victor Oladipo          6
Wayne Ellington        27
Wesley Iwundu           1
Wesley Johnson          9
Wesley Matthews        15
Will Barton             5
Willie Cauley-Stein     6
Willie Reed             6
Xavier Henry           30
Zabian Dowdell          1
Zach Collins            1
Zach LaVine             4
Name: Injury, Length: 372, dtype: int64

In [81]:
merge_table.groupby('age')['Injury'].count()
merge_table.rename(columns =(merge.table[1], 'Injury' )

SyntaxError: unexpected EOF while parsing (<ipython-input-81-ddeae30e4d6c>, line 2)

In [82]:
distinct_table = merge_table.drop_duplicates(subset='name').groupby('age')['Injury'].count()
distinct_table

age
21.0     4
22.0    14
23.0    23
24.0    21
25.0    28
26.0    34
27.0    32
28.0    48
29.0    47
30.0    37
31.0    37
32.0    24
33.0    11
34.0     7
35.0     5
Name: Injury, dtype: int64

In [83]:
distinct_table.rename(columns={'age':'Age',
                          '':'Injury',
                          }, 
                 inplace=True)

age
21.0     4
22.0    14
23.0    23
24.0    21
25.0    28
26.0    34
27.0    32
28.0    48
29.0    47
30.0    37
31.0    37
32.0    24
33.0    11
34.0     7
35.0     5
dtype: int64

In [84]:
# player_demographics = merge_table.loc[:, ["name"]]
num_players = merge_table["name"].nunique()
# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            372

In [85]:
player_demographics = merge_table.loc[:, ["age"]]
player_demographics.count()
age_bins = [0, 20.90, 24.90, 29.90, 34.90, 39.90, 44.90, 49.90, 99999]
group_names = ["<21", "21-24", "25-29", "30-34", "35-39", "40-44", "45-49", "50+"]
player_demographics["Age Ranges"] = pd.cut(player_demographics["age"], age_bins, labels=group_names)
#Calculate the Numbers and Percentages by Age Group
age_demographics_totals = player_demographics["Age Ranges"].value_counts()
age_demographics_percents = age_demographics_totals / num_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_totals})
# Minor Data Munging
age_demographics = age_demographics.round(2)

# Display Age Demographics Table
age_demographics.sort_index()

       Total Count
<21              0
21-24          169
25-29         1357
30-34         1102
35-39           39
40-44            0
45-49            0
50+              0